
body{
    font-family: 'Varela Round', sans-serif;
}


/* Navbar */

.bg-dark {
    background-color: #1E8C01!important;
}

.navbar-brand{
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Tagline */

.tagline{
    padding-top: 20px;
}

.btn-success {
    color: #000;
    background-color: #ffffff;
    border-color: #28a745;
    text-transform: uppercase;
}
